---
import "@/styles/globals.css";

import { Picture } from "astro:assets";

import ThemeToggle from "@/components/ThemeToggle.astro";
import MenuDrawer from "@/components/MenuDrawer";
import Icon from "@/components/Icon.astro";
import { navItems, notifications, messages, userMenu } from "@/data";

import avatar from "@/public/mtn_avatar.png";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;1,400&family=Rubik:wght@500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="dark:bg-gray-900 dark:text-gray-200 text-gray-800 bg-gray-100">
    <div class="flex h-screen">
      <!-- Sidebar -->
      <aside
        class="dark:bg-gray-800 md:flex fixed flex-col hidden w-64 h-screen bg-white"
      >
        <div
          class="flex items-center border-b px-4 py-[18px] leading-none dark:border-gray-700"
        >
          <div
            class="dark:text-white flex items-center gap-2 text-2xl font-bold text-gray-800"
          >
            <Icon icon="dataVizLogo" size="1.5em" />
            {title}
          </div>
        </div>
        <nav class="flex-grow">
          <ul class="py-4 space-y-2">
            {
              navItems.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-700 flex items-center gap-2 px-4 py-2 text-gray-700"
                  >
                    <Icon icon={item.icon} size="1.5em" />
                    {item.title}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </aside>

      <!-- Main Content -->
      <div class="md:ml-64 flex flex-col flex-1">
        <!-- Top Bar -->
        <header
          class="dark:border-gray-700 dark:bg-gray-800 flex items-center justify-between px-6 py-4 bg-white border-b"
        >
          <div class="md:hidden">
            <MenuDrawer client:load title={title}>
              <Icon icon="dataVizLogo" size="1.5em" slot="logo" />
              {
                navItems.map((item) => (
                  <li slot="navItems">
                    <a
                      href={item.href}
                      class="hover:bg-gray-200 dark:text-gray-300 dark:hover:bg-gray-700 flex items-center gap-2 px-4 py-2 text-gray-700"
                    >
                      <Icon icon={item.icon} size="1.5em" />
                      {item.title}
                    </a>
                  </li>
                ))
              }
            </MenuDrawer>
          </div>

          <div class="flex items-center gap-4 ml-auto">
            <ThemeToggle />

            <!-- Notifications Dropdown -->
            <div class="relative" x-data="{ openNotifications: false }" x-cloak>
              <button
                class="hover:bg-gray-200 dark:hover:bg-gray-700 p-2 rounded-full"
                x-on:click="openNotifications = ! openNotifications"
              >
                <Icon icon="bell" size="1.5em" />
              </button>
              <div
                x-show="openNotifications"
                x-transition
                class="-right-1/2 w-72 dark:bg-gray-800 absolute py-1 mt-2 bg-white rounded-md shadow-lg"
              >
                {
                  notifications.map((notification) => (
                    <a
                      href="#"
                      @click.away="openNotifications = false"
                      class="hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 block px-4 py-2 text-sm text-gray-700"
                    >
                      <p class="font-medium">{notification.message}</p>
                      <p class="dark:text-gray-400 text-xs text-gray-500">
                        {notification.time}
                      </p>
                    </a>
                  ))
                }
              </div>
            </div>

            <!-- Chat Dropdown -->
            <div class="relative" x-data="{ openChat: false }">
              <button
                class="hover:bg-gray-200 dark:hover:bg-gray-700 p-2 rounded-full"
                x-on:click="openChat = ! openChat"
              >
                <Icon icon="chat" size="1.5em" />
              </button>
              <div
                x-show="openChat"
                x-transition
                class="w-72 dark:bg-gray-800 absolute right-0 py-1 mt-2 bg-white rounded-md shadow-lg"
              >
                {
                  messages.map((message) => (
                    <a
                      href="#"
                      @click.away="openChat = false"
                      class="hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 block px-4 py-2 text-sm text-gray-700"
                    >
                      <p class="font-medium">{message.user}</p>
                      <p class="text-xs">{message.message}</p>
                      <p class="dark:text-gray-400 text-xs text-gray-500">
                        {message.time}
                      </p>
                    </a>
                  ))
                }
              </div>
            </div>

            <!-- User Avatar Menu -->
            <div class="relative" x-data="{ openUserMenu: false }" x-cloak>
              <button
                class="flex items-center gap-2"
                x-on:click="openUserMenu = ! openUserMenu"
              >
                <span class="md:flex hidden font-medium">Seth Hall</span>
                <div class="size-10">
                  <Picture
                    src={avatar}
                    alt="User Avatar"
                    loading="eager"
                    class="object-cover w-full rounded-full"
                  />
                </div>
                <div :class="openUserMenu ? 'rotate-180' : 'rotate-0'">
                  <Icon icon="caretDown" size="1.5em" />
                </div>
              </button>
              <div
                x-show="openUserMenu"
                x-transition
                class="dark:bg-gray-800 absolute right-0 w-48 py-1 mt-2 bg-white rounded-md shadow-lg"
              >
                {
                  userMenu.map((item, index) => (
                    <div>
                      <a
                        href={item.href}
                        @click.away="openUserMenu = false"
                        class="hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-700 flex items-center gap-4 px-4 py-2 text-sm text-gray-700"
                      >
                        <Icon icon={item.icon} size="1.5em" />
                        {item.title}
                      </a>
                      {index === userMenu.length - 2 && (
                        <hr class="dark:border-gray-700 my-2 border-t" />
                      )}
                    </div>
                  ))
                }
              </div>
            </div>
          </div>
        </header>

        <!-- Page Content -->
        <main class="max-w-none container p-6 overflow-auto">
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
